SECRET_KEY=CAMBIAR_POR_UNA_CLAVE_SEGURA
OPENAI_API_KEY=CAMBIAR_POR_TU_API_KEY
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CAMBIAR_ESTA_CONTRASEÑA
USER_DB_DIR=database_usuarios
CHROMA_DB_DIR=database_chroma
UPLOAD_DIR=data_archivos