# Entornos virtuales
venv/
env/
Lib/
Scripts/
pyvenv.cfg

# Variables de entorno
.env

# Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Base de datos y datos
database/
data/

# Archivos de IDE
.vscode/
.idea/
# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db